<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.mapper.AuditPlanMapper">
    <insert id="create" useGeneratedKeys="true" keyProperty="id">
        insert into audit_plan(file_name, publish_time, word_name, word_uuid, pdf_name, pdf_uuid, create_time, create_user, update_time, update_user)
        VALUES (#{fileName},#{publishTime},#{wordName},#{wordUuid},#{pdfName},#{pdfUuid},#{createTime},#{createUser},#{updateTime},#{updateUser})
    </insert>
    
    <select id="queryPageAuditPlan" parameterType="com.platform.dto.auditPlan.AuditPlanPageQueryDTO"
            resultType="com.platform.vo.auditPlan.AuditPlanDisplayVO">
        select
            ap.id,
            file_name,
            publish_time,
            word_name,
            word_uuid,
            pdf_name,
            pdf_uuid,
            ap.create_user,
            e1.name createUserName,
            ap.create_time,
            ap.update_time,
            ap.update_user,
            e2.name updateUserName
        from audit_plan ap
        left join employee e1 on ap.create_user=e1.id
        left join employee e2 on ap.update_user=e2.id
        <where>
            <if test="id!=null and id!=0">and ap.id=#{id}</if>
            <if test="fileName!=null">and file_name like concat('%',#{fileName},'%')</if>
            <if test="startPublishTime!=null">and publish_time>=#{startPublishTime}</if>
            <if test="endPublishTime!=null">and #{endPublishTime}>=ap.publish_time</if>
        </where>
    </select>

    <update id="updateAuditPlan" parameterType="com.platform.entity.AuditPlan">
        update audit_plan
        <set>
            <if test="fileName!=null and fileName!=''">file_name=#{fileName},</if>
            <if test="publishTime!=null">publish_time=#{publishTime},</if>
            <if test="wordName!=null and wordName!=''">word_name=#{wordName},</if>
            <if test="wordUuid!=null and wordUuid!=''">word_uuid=#{wordUuid},</if>
            <if test="pdfName!=null and pdfName!=''">pdf_name=#{pdfName},</if>
            <if test="pdfUuid=null and pdfUuid!=''">pdf_uuid=#{pdfUuid},</if>
            update_time=#{updateTime},
            update_user=#{updateUser}
        </set>
        where id=#{id}
    </update>
</mapper>