<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.platform.mapper.DictionaryMapper">
    <select id="getFactory" resultType="com.platform.entity.Dictionary">
        select
            'FACTORY' dictId,
            id dictValue,
            name dictName,
            '工厂名称' dictDesc
        from factory
    </select>

    <select id="getBusinessdivision" resultType="com.platform.entity.Dictionary">
        select
            'BUSINESSDIVISION' dictId,
            bu_id dictValue,
            bu_name dictName,
            '事业部名称' dictDesc
        from BusinessDivision
    </select>

    <select id="getDepartment" resultType="com.platform.entity.Dictionary">
        select
            'DEPARTMENT' dictId,
            id dictValue,
            name dictName,
            '部门名称' dictDesc
        from department
    </select>

    <select id="getLocation" resultType="com.platform.entity.Dictionary">
        select
            'LOCATION' dictId,
            id dictValue,
            name dictName,
            '工作地点名称' dictDesc
        from location
    </select>

    <select id="getProfessionInspection" resultType="com.platform.entity.Dictionary">
        select
            'PROFESSION_INSPECTION' dictId,
            pi.id dictValue,
            pi.name dictName,
            '工艺类别名称' dictDesc
        from ProfessionInspection pi
    </select>

    <select id="getTechnologyDict" resultType="com.platform.entity.Dictionary">
        select
            'TECHNOLOGY' dictId,
            pi.id dictValue,
            pi.name dictName,
            '工艺类别名称' dictDesc
        from ProfessionInspection pi
    </select>

    <select id="getNormalDict" resultType="com.platform.entity.Dictionary">
        select * from dictionary
    </select>
</mapper>