<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <title>添加审核员</title>
</head>
<body>
    <h1>填写信息</h1>
    <form th:action="@{/mvc/auditor/add}" method="post">
        <table  class="table">
            <tr>
                <td>工号：</td>
                <td>
                    <label>
                        <input type="text" name="employeeId" th:placeholder="输入工号"/>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">保存</button>
                </td>
            </tr>
        </table>
    </form>

</body>
</html>